:root {
    
    --primary-color: #252525;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
    --flow-space: 0.5em
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {

    font-size: 8rem;
    text-transform: uppercase;
}

h2 {
   font-size: 7rem;
   margin-bottom: 2rem;
   text-transform: uppercase;
}

h3 {
    font-size: 6rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-bg {
    
    background: rgb(22, 22, 22);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}


.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 115rem;
    margin: 0 auto;
    padding: 0.1rem;
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 200ms ease-in-out;
  }

  .menu ul li a:hover::after {
  width: 50%;
  left: 25%;
  }

  .intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
  }

  .intro-text, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   
  }

 

  .intro-img img {
    max-width: 100%;
    height: auto;
  }

  .quem-somos {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }

  .grid-heading {
    margin-top: 5rem;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
  }

  .cards__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  .card {
  flex: 1 1 14rem;
  padding: 4rem 4rem;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.5rem;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  }

 
  .card__bullets {
  line-height: 1.4;
  font-size: 1.2rem;
}
  .card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
}

  .flow > * + * {
    margin-top: var(--flow-space, 1.25em);
  }


  .cta {
    display: block;
    align-self: end;
    margin: 1em 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0d0d0d;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }



  

  .grid-description {
   padding-bottom: 5rem;
  }

  .grid-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
  }

  .grid {
    margin-bottom: 5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }

  .grid h3{
    font-size: 1rem;
  }

  .card-price {
    font-size: 3rem;
    font-weight: 600;
  }

  .card__bullets {
    line-height: 1.4;
  }


  .card:hover{
    background: hsl(var(--light-gray-color));
  }
  
  ul {
    list-style: none;
  }

  .gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

  .gallery-img img {
    width: 100%;
  }

  .gallery-img img {
    transition: all 300ms ease-in-out;
  }

  .gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) 
  }

  .contact-form {
    grid-column: span 2 ;
  }

  .contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .form-group {
    flex: 1 1 320px;
  }

  .form-group label {
    display: block;
  }

  .form-group input {
    border: none;
    padding: 1.5rem 2rem;
    width: 100%;
    outline: none;
  }

  .form-group input:focus {
    box-shadow: 0 0 10px 2px gray;
  }

  .form-group button {
    margin-top: 2rem;
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }

  .form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
    border-radius: 1rem;
    
  }

  .contact-spacing {
    height: 10rem;
  }

  .footer {
    text-align: center;
    font-size: 1.2rem;
  }

  .footer a {
    color: var(--primary-color);
  }

  .footer p {
    margin: 0;
    padding: 1rem;
  }

  .close-menu {
    display: none;
  }


  @media (max-width: 800px) {
    .intro-content, .grid {
      grid-template-columns: 1fr;
    }
    .gallery-img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;

    }

    .grid-content {
      display: block;
    }

    .menu{
      bottom: 0;
      text-align: center;
    }

    .menu-content, .menu-content ul {
      flex-direction: column;
      justify-content: center;
    }

    .menu-content {
      height: 100vh;
    }

    .menu{
      display: none;
    }

   
    .close-menu-label::after {
      content: '𝄘';
      position: fixed;
      z-index: 2;
      top: 2rem;
      right: 2rem;
      background: var(--primary-color);
      color: var(--white-color);
      font-size: 3rem;
      line-height: 3rem;
      width: 3rem;
      height: 3rem;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
    }

    .close-menu:checked~.menu{
      display: block;
    }

    .close-menu:checked~.close-menu-label::after{
      display: block;
      content: 'ｘ';
    }

    .menu-spacing {
      display: none;
    }
  }